/* V9-hyprdots - Wofi */

* {
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-size: 14px;
    font-weight: bold;
}

window {
    margin: 0px;
    border: 2px solid #2a2a2a;
    /* Inactive border color */
    background-color: rgba(15, 15, 15, 0.90);
    /* Blur base */
    border-radius: 8px;
    /* UI Radius 8-10px */
}

#input {
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: #1a1a1a;
    color: #d6d6d6;
    padding: 10px;
}

#entry {
    margin: 2px 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    color: #8a8a8a;
}

#entry:selected {
    background-color: #5f7c8a;
    /* V9 Accent */
    color: #ffffff;
}

#text {
    margin-left: 10px;
}