/* V9-hyprdots - Wofi */

* {
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-size: 14px;
    font-weight: bold;
}

window {
    margin: 0px;
    border: 2px solid #5f7c8a;
    /* Accent Border */
    background-color: rgba(17, 19, 23, 1.0);
    /* Transparent */
    border-radius: 6px;
}

#input {
    margin: 10px;
    border: 1px solid #1b1f24;
    /* Wet Asphalt Border */
    border-radius: 6px;
    background-color: #111317;
    color: #d6d6d6;
    padding: 12px;
}

#entry {
    margin: 0px 10px;
    padding: 12px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    /* Separator */
    background-color: transparent;
    color: #8a8a8a;
    transition: all 0.1s ease;
    border-radius: 0px;
}

#entry:last-child {
    border-bottom: none;
}

#entry:selected {
    background-color: #5f7c8a;
    /* V9 Accent */
    color: #ffffff;
}

#text {
    margin-left: 10px;
}