/* V9-hyprdots - Wofi */

* {
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-size: 14px;
    font-weight: bold;
}

window {
    margin: 0px;
    border: none;
    background-color: #23272c;
    /* Surface Color */
    border-radius: 10px;
}

#input {
    margin: 10px;
    border: 1px solid #23272c;
    border-radius: 10px;
    background-color: #1b1e21;
    /* Primary Bg */
    color: #d6d6d6;
    padding: 12px;
}

#entry {
    margin: 0px 10px;
    padding: 12px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    background-color: transparent;
    color: #9a9a9a;
    /* Muted */
    transition: all 0.1s ease;
    border-radius: 8px;
}

#entry:last-child {
    border-bottom: none;
}

#entry:selected {
    background-color: rgba(111, 136, 150, 0.75);
    /* #6f8896 @ ~75% */
    color: #d6d6d6;
}

#text {
    margin-left: 10px;
}