/* V9-hyprdots - Wofi */

* {
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-size: 14px;
    font-weight: bold;
}

window {
    margin: 0px;
    border: 2px solid #38f8e0;
    /* Accent Border */
    background-color: rgba(31, 41, 55, 0.95);
    /* Transparent */
    border-radius: 12px;
}

#input {
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 10px;
}

#entry {
    margin: 2px 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    color: #8a8a8a;
    transition: all 0.2s ease;
    border-radius: 12px;
}

#entry:selected {
    background-color: #38f8e0;
    /* V9 Accent */
    color: #ffffff;
}

#text {
    margin-left: 10px;
}