/* V9-hyprdots - Wofi */

* {
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-size: 14px;
    font-weight: bold;
}

window {
    margin: 0px;
    border: 2px solid #5f7c8a;
    /* Accent Border */
    background-color: rgba(17, 19, 23, 1.0);
    /* Transparent */
    border-radius: 6px;
}

#input {
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: #111317;
    color: #d6d6d6;
    padding: 10px;
}

#entry {
    margin: 2px 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    color: #8a8a8a;
    transition: all 0.2s ease;
    border-radius: 6px;
}

#entry:selected {
    background-color: #5f7c8a;
    /* V9 Accent */
    color: #ffffff;
}

#text {
    margin-left: 10px;
}