/* V9-hyprdots - Wofi */

* {
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-size: 14px;
    font-weight: bold;
}

window {
    margin: 0px;
    border: 2px solid #7e9cd8;
    /* Accent Border */
    background-color: rgba(42, 42, 55, 1.0);
    /* Transparent */
    border-radius: 6px;
}

#input {
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: #2a2a37;
    color: #dcd7ba;
    padding: 10px;
}

#entry {
    margin: 2px 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    color: #8a8a8a;
    transition: all 0.2s ease;
    border-radius: 6px;
}

#entry:selected {
    background-color: #7e9cd8;
    /* V9 Accent */
    color: #ffffff;
}

#text {
    margin-left: 10px;
}