/* Minimal, clean style for Waybar */

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono", "Symbols Nerd Font", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #1e1e2e;
    /* dark background */
    color: #cdd6f4;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #cdd6f4;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    background: #64727D;
    border-bottom: 3px solid #cdd6f4;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #cdd6f4;
    background-color: transparent;
    /* transparent modules */
}

#clock {
    background-color: #64727D;
}