/* V9-hyprdots - Wofi */

* {
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-size: 14px;
    font-weight: bold;
}

window {
    margin: 0px;
    border: 2px solid #788496;
    /* Accent Border */
    background-color: #000000;
    /* Pure Black */
    border-radius: 0px;
}

#input {
    margin: 10px;
    border: 1px solid #333333;
    /* Graphite Border */
    border-radius: 0px;
    background-color: #1a1a1a;
    color: #dcdcdc;
    padding: 12px;
}

#entry {
    margin: 0px 10px;
    padding: 12px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    /* Separator */
    background-color: transparent;
    color: #8a8a8a;
    transition: all 0.1s ease;
    border-radius: 0px;
}

#entry:last-child {
    border-bottom: none;
}

#entry:selected {
    background-color: #788496;
    /* Cold Steel */
    color: #ffffff;
}

#text {
    margin-left: 10px;
}