/* V9-hyprdots - Wofi */

* {
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-size: 14px;
    font-weight: bold;
}

window {
    margin: 0px;
    border: 2px solid #6f7a80;
    /* Accent Border */
    background-color: rgba(36, 36, 36, 0.85);
    /* Transparent */
    border-radius: 8px;
}

#input {
    margin: 10px;
    border: 1px solid #242424;
    /* Graphite Border */
    border-radius: 10px;
    background-color: #1a1a1a;
    color: #dcdcdc;
    padding: 12px;
}

#entry {
    margin: 0px 10px;
    padding: 12px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    /* Separator */
    background-color: transparent;
    color: #8a8a8a;
    transition: all 0.1s ease;
    border-radius: 0px;
}

#entry:last-child {
    border-bottom: none;
}

#entry:selected {
    background-color: #6f7a80;
    /* V9 Accent */
    color: #ffffff;
}

#text {
    margin-left: 10px;
}